Repository BegeMode/vue-ngx-datatable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, npm run lint-typedef, npm run lint

eslint formating
  src/components/body/body-cell.component.ts
  src/components/body/body.component.ts
  src/components/body/scroller.component.ts
  src/components/body/selection.component.ts
  src/components/datatable.component.ts
  src/components/header/header.component.ts
  src/types/row-context.type.ts
  src/types/table-column.type.ts
  src/utils/column-prop-getters.ts
  src/utils/column.ts
  src/utils/selection.ts
  src/utils/sort.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/body/body.component.ts
  src/components/header/header.component.ts
  src/directives/draggable.directive.ts
  src/types/table-column.type.ts
  src/utils/column.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/header/header-cell.component.ts
  src/types/table-column.type.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/body/body.component.ts
  src/components/body/summary/summary-row.component.ts
  src/types/table-column.type.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/body/body.component.ts
  src/utils/row-height-cache.ts
Due: npm run lint-typedef, npm run lint

eslint
  package-lock.json
  package.json
  src/components/body/body-cell.component.ts
  src/components/body/body-row.component.ts
  src/components/body/body-row.component.vue
  src/components/body/body.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
Due: prettier --write, npm run lint-typedef, npm run lint

eslint
  src/components/body/body-group-header.component.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row-wrapper.component.vue
  src/components/body/body.component.ts
  src/components/datatable.component.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/body/body-cell.component.spec.ts
  src/components/body/body-row-detail.component.ts
  src/components/body/body-row-wrapper.component.spec.ts
  src/components/body/body-row.component.spec.ts
  src/components/body/body.component.spec.ts
  src/components/body/progress-bar.component.spec.ts
  src/components/body/progress-bar.component.ts
  src/components/body/scroller.component.spec.ts
  src/components/body/selection.component.spec.ts
Due: npm run lint-typedef, npm run lint

onSortsChanged
  src/components/body/body.component.ts
  src/components/datatable.component.ts
  src/types/sort-prop-dir.type.ts
Due: npm run lint-typedef, npm run lint

watcher for sorts incoming property
  package-lock.json
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/body/body.component.ts
  src/components/datatable.component.ts
  src/types/sort-prop-dir.type.ts
Due: prettier --write, npm run lint-typedef, npm run lint

eslint
  .eslintignore
  package-lock.json
  src/components/body/body.component.ts
  src/components/datatable.component.ts
  src/events.ts
  src/types/click.type.ts
  src/types/column-mode.type.ts
  src/types/contextmenu.type.ts
  src/types/grouped-rows.ts
  src/types/selection.type.ts
  src/types/sort-direction.type.ts
  src/types/sort.type.ts
  src/utils/camel-case.ts
  src/utils/column-helper.ts
  src/utils/column-prop-getters.spec.ts
  src/utils/elm-from-point.ts
  src/utils/equal.array.ts
  src/utils/facade/browser.ts
  src/utils/id.ts
  src/utils/math.spec.ts
  src/utils/math.ts
  src/utils/prefixes.ts
  src/utils/throttle.ts
  src/utils/translate.ts
  src/utils/tree.ts
  src/utils/visibility-observer.ts
Due: prettier --write, npm run lint-typedef, npm run lint

eslint
  src/directives/visibility.directive.spec.ts
  src/directives/visibility.directive.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/directives/focus-blur.directive.ts
  src/directives/long-press.directive.spec.ts
  src/directives/long-press.directive.ts
  src/directives/resizeable.directive.spec.ts
  src/directives/resizeable.directive.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/datatable.component.spec.ts
  src/components/footer/footer.component.ts
  src/components/footer/pager.component.spec.ts
  src/components/footer/pager.component.ts
  src/components/header/header-cell.component.spec.ts
Due: npm run lint-typedef, npm run lint

eslint
  src/components/columns/column.component.spec.ts
  src/components/columns/column.component.ts
Due: npm run lint-typedef, npm run lint

eslint - it is done
  config/webpack.dev.js
  config/webpack.package.js
  config/webpack.prod.js
  demo/basic/tabs.component.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row-wrapper.component.vue
  src/components/body/body.component.html
  src/components/body/body.component.ts
  src/services/dimensions-helper.service.ts
  src/services/scrollbar-helper.service.ts
Due: prettier --write, npm run lint-typedef, npm run lint

1.1.9 data-test-id for body row (in wrapper)
  demo/basic/fullscreen.component.ts
  package.json
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row-wrapper.component.vue
  src/components/body/body.component.html
Due: prettier --write, npm run lint-typedef, npm run lint

data-test-id for body row
  demo/basic/fullscreen.component.ts
  src/components/body/body-row-wrapper.component.ts
Due: npm run lint-typedef, npm run lint

1.2.0
  package.json
Due: prettier --write

correct page's number if last page contnains one row
  package-lock.json
  src/components/body/body-row-wrapper.component.ts
  src/components/datatable.component.ts
  src/components/footer/pager.component.ts
  src/themes/material.scss
Due: prettier --write, npm run lint-css, npm run lint-typedef, npm run lint

prettier
  .lintstagedrc
  package-lock.json
  package.json
  src/components/body/functional/body-cell.component.ts
  src/components/body/functional/body-row.component.ts
  src/components/body/selection.component.ts
  src/components/datatable.component.spec.ts
  src/components/footer/footer.component.spec.ts
  src/directives/long-press.directive.spec.ts
  src/directives/resizeable.directive.spec.ts
  src/directives/visibility.directive.spec.ts
  src/events.ts
  src/utils/facade/browser.ts
  src/utils/tree.ts
Due: prettier --write, npm run lint-typedef, npm run lint

fixed tests
  .eslintignore
  package-lock.json
  package.json
  src/components/body/body-cell.component.spec.ts
  src/components/body/body-row.component.spec.ts
  src/components/body/body.component.spec.ts
Due: prettier --write, npm run lint-typedef, npm run lint

update gitignore
  .gitignore
Due: none

resize observer for check is the column hidden
  demo/basic/responsive.component.vue
  src/components/body/body.component.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.scss
  src/components/header/header-cell.component.ts
  src/declarations.d.ts
  src/themes/bootstrap.scss
  src/themes/dark.scss
  src/themes/material.scss
  src/types/table-column.type.ts
  src/utils/column-prop-getters.ts
  src/utils/math.ts
Due: npm run lint-css, npm run lint-typedef, npm run lint

extra checks
  demo/basic/virtual.component.ts
  src/components/header/header-cell.component.ts
Due: npm run lint-typedef, npm run lint

fix erorrs
  src/components/body/body-cell.component.html
  src/components/body/body-cell.component.ts
  src/components/columns/column.component.ts
  src/types/table-column.type.ts
Due: prettier --write, npm run lint-typedef, npm run lint

groupped rows fix
  src/components/body/body.component.ts
  src/components/body/selection.component.ts
  src/types/row-context.type.ts
Due: npm run lint-typedef, npm run lint

1.2.0
  demo/basic/row-grouping.component.ts
  package-lock.json
  release/index.js
  release/index.map
  src/components/datatable.component.ts
  src/types/grouped-rows.ts
Due: prettier --write, npm run lint-typedef, npm run lint

fix(Datatable component): Use resize observer for datatable component
  config/changelog.config.js
  config/commitizen.js
  package-lock.json
  package.json
  release/components/datatable.component.css
  release/index.js
  release/index.map
  src/components/body/body.component.ts
  src/components/body/scroller.component.ts
  src/components/datatable.component.scss
  src/components/datatable.component.ts
  src/components/header/header-cell.component.ts
  src/utils/row-height-cache.ts
Due: prettier --write, npm run lint-css, npm run lint-typedef, npm run lint

chore(*): Added ship.js to make releases
  .github/workflows/shipjs-manual-prepare.yml
  .github/workflows/shipjs-trigger.yml
  package-lock.json
  package.json
  ship.config.js
Due: prettier --write

chore(*): Fixed uint tests to stable version vue-test-utils
  src/components/body/body.component.spec.ts
  src/components/body/body.component.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.spec.ts
  src/components/footer/footer.component.spec.ts
  src/utils/column-helper.ts
  src/utils/column-prop-getters.ts
Due: npm run lint-typedef, npm run lint

fix(Datatable component): Selected rows are flushed after sort rows
  release/index.js
  release/index.map
  src/components/datatable.component.html
  src/components/datatable.component.ts
Due: prettier --write, npm run lint-typedef, npm run lint

fix(Header components): Column real width calculate
  package.json
  release/components/datatable.component.css
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  release/themes/bootstrap.css
  release/themes/dark.css
  release/themes/material.css
  src/components/header/header.component.ts
  src/utils/math.ts
Due: prettier --write, npm run lint-css, npm run lint-typedef, npm run lint

fix(Body components): scrollHeight has value for empty rows case
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/body/body.component.ts
  src/components/body/scroller.component.ts
  src/components/columns/column.component.ts
Due: npm run lint-typedef, npm run lint

feat(Datatable component): Scrolling by requestAnimationFrame
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/body/body.component.ts
  src/components/body/scroller.component.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
  src/components/header/header-cell.component.ts
Due: prettier --write, npm run lint-typedef, npm run lint

feat(Header components): Header append slot
  demo/templates/template-dom.component.ts
  package.json
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/columns/column.component.ts
  src/components/header/header-cell.component.ts
  src/types/table-column.type.ts
  src/utils/tree.ts
Due: prettier --write, npm run lint-typedef, npm run lint

feat(Body components): Don't horizontal scroll for group rows headers
  config/webpack.package.js
  package-lock.json
  package.json
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/body/body-cell.component.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row.component.ts
  src/components/body/body.component.ts
  src/components/body/functional/body-cell.component.ts
  src/components/body/selection.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
  src/components/header/header.component.ts
Due: prettier --write, npm run lint-typedef, npm run lint

1.3.1
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
Due: none

1.3.1 again
  config/webpack.package.js
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
Due: none

tree-shaking fixes
  .gitignore
  demo/basic/fullscreen.component.ts
  demo/basic/virtual.component.ts
  package.json
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  src/components/body/body-cell.component.ts
  src/components/body/body-row.component.ts
  src/components/body/body.component.ts
  src/components/body/functional/body-cell.component.ts
  src/components/body/selection.component.ts
  src/components/body/summary/summary-row.component.ts
  src/components/columns/column.component.spec.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.spec.ts
  src/components/datatable.component.ts
  src/components/header/header-cell.component.ts
  src/components/header/header.component.ts
  src/directives/draggable.directive.ts
  src/directives/long-press.directive.ts
  src/types/index.ts
  src/utils/column-helper.ts
  src/utils/column-prop-getters.ts
  src/utils/column.ts
  src/utils/index.ts
  src/utils/math.ts
  src/utils/sort.ts
Due: prettier --write, npm run lint-typedef, npm run lint

Path conditions:
  prettier --write: any of: *.{json,md,html}
  npm run lint-css: any of: *.*css
  npm run lint-typedef: any of: *.ts
  npm run lint: (any of: *.ts) or (any of: *.vue)
