Repository BegeMode/vue-ngx-datatable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, npm run lint

no emplicit/implicit any
  .eslintrc.json
  demo/basic/basic-auto.component.ts
  demo/basic/basic-fixed.component.ts
  demo/basic/bootstrap.component.ts
  demo/basic/contextmenu.component.ts
  demo/basic/css.component.ts
  demo/basic/dark-theme.component.ts
  demo/basic/dynamic-height.component.ts
  demo/basic/dynamic-height1.component.ts
  demo/basic/filter.component.ts
  demo/basic/footer.component.ts
  demo/basic/fullscreen.component.ts
  demo/basic/inline.component.ts
  demo/basic/live.component.ts
  demo/basic/responsive.component.vue
  demo/basic/row-detail.component.ts
  demo/basic/row-grouping.component.ts
  demo/basic/scrolling.component.ts
  demo/basic/tabs.component.ts
  demo/basic/virtual.component.ts
  src/components/body/body-cell.component.ts
  src/components/body/body-group-header.component.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body.component.ts
  src/components/body/selection.component.ts
  src/components/body/summary/summary-row.component.ts
  src/components/columns/column.component.spec.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.scss
  src/components/datatable.component.ts
  src/directives/draggable.directive.ts
  src/directives/long-press.directive.ts
  src/directives/resizeable.directive.ts
  src/types/row-context.type.ts
  src/types/table-column.type.ts
  src/utils/column-prop-getters.ts
  src/utils/sort.ts
  src/utils/throttle.ts
  test/jasmine-matchers.ts
  tsconfig.json
Due: prettier --write, npm run lint-css, npm run lint

no explicit/implicit any
  demo/columns/column-flex.component.ts
  demo/columns/column-force.component.ts
  demo/columns/column-reorder.component.ts
  demo/columns/column-standard.component.ts
  demo/columns/column-toggle.component.ts
  demo/columns/pinning.component.ts
  demo/paging/mock-server-results-service.ts
  demo/paging/paging-client.component.ts
  demo/paging/paging-scrolling-novirtualization.component.ts
  demo/paging/paging-server.component.ts
  demo/paging/paging-virtual.component.ts
  demo/paging/scrolling-server.component.vue
Due: prettier --write, npm run lint

no explicit/implicit any
  demo/selection/selection-cell.component.ts
  demo/selection/selection-chkbox-checked.component.ts
  demo/selection/selection-chkbox-template.component.ts
  demo/selection/selection-chkbox.component.ts
  demo/selection/selection-disabled.component.ts
  demo/selection/selection-multi-click.component.ts
  demo/selection/selection-multi.component.ts
  demo/selection/selection-single.component.ts
  demo/selection/selection-single.component___.ts
Due: npm run lint

no explicit/implicit any
  demo/sorting/sorting-client.component.ts
  demo/sorting/sorting-comparator.component.ts
  demo/sorting/sorting-default.component.ts
  demo/sorting/sorting-server.component.ts
Due: npm run lint

no explicit/implicit any
  demo/summary/summary-row-custom-template.component.scss
  demo/summary/summary-row-custom-template.component.ts
  demo/summary/summary-row-inline-html.component.scss
  demo/summary/summary-row-inline-html.component.ts
  demo/summary/summary-row-server-paging.component.ts
  demo/summary/summary-row-simple.component.scss
  demo/summary/summary-row-simple.component.ts
Due: prettier --write, npm run lint-css, npm run lint

no explicit/implicit any
  demo/templates/template-dom.component.ts
  demo/templates/template-obj.component.ts
  demo/tree/client-tree.component.ts
  demo/tree/fullscreen.component.ts
Due: npm run lint

no explicit/implicit any
  src/components/body/body-cell.component.spec.ts
  src/components/body/body-group-header.component.ts
  src/components/body/body-row-detail.component.ts
  src/components/datatable.component.ts
  src/components/footer/footer.component.spec.ts
  src/components/footer/pager.component.ts
  src/components/header/header-cell.component.ts
  src/directives/long-press.directive.spec.ts
  src/directives/resizeable.directive.spec.ts
  src/directives/visibility.directive.spec.ts
  src/directives/visibility.directive.ts
  src/utils/equal.array.ts
  src/utils/math.ts
  src/utils/tree.ts
  src/utils/visibility-observer.ts
  tsconfig.json
  typings/jasmine-matchers.d.ts
Due: prettier --write, npm run lint

grouped rows: expand/collapse all rows
  demo/basic/row-grouping.component.ts
  src/components/body/body-group-header.component.ts
  src/components/datatable.component.ts
Due: npm run lint

fixed tests
  src/components/body/body-cell.component.spec.ts
  src/components/columns/column.component.spec.ts
Due: npm run lint

group header row styles & css classes
  assets/app.css
  demo/basic/row-grouping.component.ts
  src/components/body/body-row-wrapper.component.spec.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row-wrapper.component.vue
  src/components/body/body.component.html
  src/components/body/body.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
Due: prettier --write, npm run lint-css, npm run lint

updated dependencies
  .eslintrc.json
  config/karma.conf.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.package.js
  config/webpack.prod.js
  config/webpack.test.js
  package-lock.json
  package.json
  src/components/body/body.component.ts
  src/components/columns/column.component.spec.ts
  src/components/datatable.component.spec.ts
  src/components/datatable.component.ts
  src/declarations.d.ts
  src/directives/long-press.directive.ts
  src/directives/resizeable.directive.ts
  src/directives/visibility.directive.spec.ts
  src/directives/visibility.directive.ts
  src/utils/elm-from-point.ts
  src/utils/row-height-cache.ts
  src/utils/throttle.ts
  src/utils/visibility-observer.ts
Due: prettier --write, npm run lint

new demo
  demo/app.component.ts
  demo/basic/row-grouping.custom.component.ts
Due: npm run lint

release build
  config/webpack.prod.js
  package.json
  release/assets/app.css
  release/index.js
  release/index.map
Due: prettier --write, npm run lint-css

fixed demos
  assets/data/company.json
  demo/columns/column-toggle.component.ts
  demo/paging/paging-client.component.ts
  demo/templates/template-dom.component.ts
  package-lock.json
  src/components/body/body-cell.component.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row.component.ts
  src/components/body/body.component.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
  src/components/footer/footer.component.spec.ts
  src/components/header/header-cell.component.ts
  src/components/header/header.component.ts
  src/directives/draggable.directive.ts
  src/directives/focus-blur.directive.ts
  src/directives/long-press.directive.ts
  src/directives/visibility.directive.ts
  src/events.ts
  src/types/row-context.type.ts
  src/utils/equal.array.ts
  src/utils/sort.ts
  src/utils/throttle.ts
  test/jasmine-matchers.ts
Due: prettier --write, npm run lint

release 1.3.2
  gh-pages.txt
  release/assets/data/company.json
  release/index.js
  release/index.map
Due: prettier --write

build(*): Back to vue 2.6.12
  package-lock.json
  package.json
  release/index.js
  release/index.map
  src/components/body/body-cell.component.html
  src/utils/column-prop-getters.ts
  src/utils/tree.ts
Due: prettier --write, npm run lint

build(*): Back to vue 2.6.12 (#19)
  package-lock.json
  package.json
  release/index.js
  release/index.map
  src/components/body/body-cell.component.html
  src/utils/column-prop-getters.ts
  src/utils/tree.ts
Due: prettier --write, npm run lint

build(*): vue 2.6.14
  package-lock.json
  package.json
  release/index.js
  release/index.map
  src/components/body/body-cell.component.html
Due: prettier --write

build(*): vue 2.6.14 (#20)
  package-lock.json
  package.json
  release/index.js
  release/index.map
  src/components/body/body-cell.component.html
Due: prettier --write

fix(Datatable component): Fixed table width with scrollbar
  assets/app.css
  demo/app.component.ts
  demo/tree/fullscreen.component.ts
  package.json
  release/assets/app.css
  release/index.js
  release/index.map
  src/components/body/body.component.html
  src/components/body/body.component.ts
  src/components/body/scroller.component.ts
  src/components/datatable.component.ts
  src/utils/tree.ts
Due: prettier --write, npm run lint-css, npm run lint

(deploy): CI
  app.js
  app.map
  assets/app.css
  src/components/body/body.component.d.ts
  src/components/body/scroller.component.d.ts
  src/components/datatable.component.d.ts
Due: prettier --write, npm run lint-css, npm run lint

feat(*): Before selection row check possibility
  assets/app.css
  demo/app.component.ts
  demo/selection/selection-before-select-check.component.ts
  package.json
  release/assets/app.css
  release/index.js
  release/index.map
  src/components/body/body.component.html
  src/components/body/body.component.ts
  src/components/body/selection.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
  src/utils/selection.ts
Due: prettier --write, npm run lint-css, npm run lint

(deploy): CI
  app.js
  app.map
  assets/app.css
  demo/app.component.d.ts
  demo/selection/selection-before-select-check.component.d.ts
  src/components/body/body.component.d.ts
  src/components/body/selection.component.d.ts
  src/components/datatable.component.d.ts
  src/utils/selection.d.ts
Due: prettier --write, npm run lint-css, npm run lint

fix(*): beforeSelectRowCheck returns Promise too
  package.json
  release/index.js
  release/index.map
  src/components/body/body-cell.component.html
  src/components/body/body-cell.component.ts
  src/components/body/body.component.ts
  src/components/body/selection.component.ts
  src/components/datatable.component.ts
Due: prettier --write, npm run lint

(deploy): CI
  app.js
  app.map
  src/components/body/body.component.d.ts
  src/components/body/selection.component.d.ts
  src/components/datatable.component.d.ts
Due: npm run lint

feat(Body components): Group rows header - active prop
  config/webpack.common.js
  package.json
  release/3b0234636efe7d0e78de.svg
  release/40742b4faed98d0250a5.eot
  release/53c319729491b7686d65.woff
  release/93be7e0fc94594d266a2.ttf
  release/assets/app.css
  release/assets/data/100k.json
  release/assets/data/columns20.json
  release/assets/data/company.json
  release/assets/data/company_tree.json
  release/assets/data/forRowGrouping.json
  release/assets/icons-reference.html
  release/assets/icons.css
  release/components/datatable.component.css
  release/index.css
  release/index.js
  release/index.map
  release/index.min.js
  release/index.min.js.map
  release/themes/bootstrap.css
  release/themes/dark.css
  release/themes/material.css
  src/components/body/body-group-header.component.ts
  src/components/body/body-row-wrapper.component.vue
  src/components/datatable.component.ts
  src/themes/material.scss
  src/types/grouped-rows.ts
Due: prettier --write, npm run lint-css, npm run lint

(deploy): CI
  164.js
  164.map
  3b0234636efe7d0e78de.svg
  40742b4faed98d0250a5.eot
  53c319729491b7686d65.woff
  688.js
  688.js.LICENSE.txt
  688.map
  93be7e0fc94594d266a2.ttf
  app.css
  app.js
  app.map
  index.html
  src/components/body/body-group-header.component.d.ts
  src/components/datatable.component.d.ts
  src/types/grouped-rows.d.ts
Due: prettier --write, npm run lint-css, npm run lint

readme.md
  README.md
Due: prettier --write

fix(Header components): Group title row - fixed width after scrolling
  config/webpack.common.js
  demo/basic/row-grouping.component.ts
  package.json
  release/fonts/data-table.eot
  release/fonts/data-table.svg
  release/fonts/data-table.ttf
  release/fonts/data-table.woff
  release/index.css
  release/index.js
  release/index.map
  src/components/body/body-group-header.component.ts
  src/components/body/body-row-wrapper.component.ts
  src/components/body/body-row-wrapper.component.vue
  src/components/body/body.component.ts
  src/components/datatable.component.ts
Due: prettier --write, npm run lint-css, npm run lint

(deploy): CI
  app.css
  app.js
  app.map
  demo/basic/row-grouping.component.d.ts
  fonts/data-table.eot
  fonts/data-table.svg
  fonts/data-table.ttf
  fonts/data-table.woff
  src/components/body/body-group-header.component.d.ts
  src/components/datatable.component.d.ts
Due: prettier --write, npm run lint-css, npm run lint

fix(Header components): Kebab case for scoped slots together with camelCase
  package.json
  release/index.css
  release/index.js
  release/index.map
  src/components/columns/column.component.ts
  src/components/datatable.component.ts
Due: prettier --write, npm run lint-css, npm run lint

(deploy): CI
  app.js
  app.map
Due: none

fix(Header components): Restore column width after column's width resizing
  package.json
  release/index.css
  release/index.js
  release/index.map
  src/utils/math.ts
Due: prettier --write, npm run lint-css, npm run lint

fix(Body components): fixed memory leak in ScrollerComponent
  package.json
  release/index.js
  release/index.map
  src/components/body/scroller.component.ts
  src/components/columns/column.component.ts
Due: prettier --write, npm run lint

perf(Datatable component): Some rendering's optimizations
  config/webpack.package.js
  demo/columns/pinning.component.ts
  package-lock.json
  package.json
  release/index.css
  release/index.js
  release/index.map
  src/components/body/body-cell.component.html
  src/components/body/body-row.component.ts
  src/components/body/body-row.component.vue
  src/components/body/body.component.ts
  src/components/body/scroller.component.ts
  src/components/columns/column.component.ts
  src/components/datatable.component.html
  src/components/datatable.component.ts
  src/components/header/header-cell.component.ts
  src/components/header/header.component.ts
  src/directives/draggable.directive.ts
  src/directives/long-press.directive.ts
  src/directives/resizeable.directive.ts
  src/directives/visibility.directive.ts
  src/themes/material.scss
  src/utils/column.ts
  src/utils/math.ts
  src/utils/tree.ts
Due: prettier --write, npm run lint-css, npm run lint

(deploy): CI
  688.js
  688.js.LICENSE.txt
  688.map
  app.css
  app.js
  app.map
  demo/columns/pinning.component.d.ts
  src/components/body/body.component.d.ts
  src/components/body/scroller.component.d.ts
  src/components/columns/column.component.d.ts
  src/components/datatable.component.d.ts
  src/components/header/header-cell.component.d.ts
  src/components/header/header.component.d.ts
  src/directives/visibility.directive.d.ts
  src/utils/column.d.ts
  src/utils/tree.d.ts
Due: prettier --write, npm run lint-css, npm run lint

build(*): update packages
  package-lock.json
  package.json
  release/index.css
  release/index.js
  release/index.map
  src/components/body/body-row-wrapper.component.spec.ts
Due: prettier --write, npm run lint-css, npm run lint

fixed rebuild tree after sort
  package.json
  release/index.css
  release/index.js
  release/index.map
  src/components/datatable.component.ts
Due: prettier --write, npm run lint-css, npm run lint

Path conditions:
  prettier --write: ((any of: *.{json,md,html}) or (any of: *.*css)) or (any of: *.vue)
  npm run lint-css: any of: *.*css
  npm run lint: (any of: *.ts) or (any of: *.vue)
